@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #121212;
    --secondary: #555555;
    --border: rgba(18, 18, 18, 0.08);    
    --black: #121212;
    --black-2: #555555;
    --white: #FFFFFF;
    --white-2: #999999;
    --action: #FFCD4D;
    --theme: #7963FF;
}

:root {
    --font_dmsans: "DM Sans", sans-serif;
    --font_kanit: "Kanit", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all .3s;
    color: inherit;
}
p {
    padding: 0;
    margin: 0;
    line-height: 1.41;
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary);
}
.header-area .header-area__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 100px;
    border-bottom: 1px solid var(--border);
}
img {
    max-width: 100%;
}
.show-light {
    display: inline-block;
}

.header-area .header-area__inner>*:nth-child(2) {
    margin-inline-end: auto;
    border-inline-start: 1px solid var(--border);
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline-start: 35px;
    margin-inline-start: 30px;
}

.main-menu>ul {
    display: flex;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .3s;
}

.main-menu li {
    position: relative;
}

.main-menu li a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--primary);
    padding: 37px 15px;
    text-transform: uppercase;
}

.main-menu ul.dp-menu {
    background-color: #232529;
    padding: 18px 0px;
    width: 240px;
    position: absolute;
    inset-inline-start: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: all .5s;
}

.main-menu ul.dp-menu.col-2 {
    -moz-column-count: 2;
    column-count: 2;
    width: 500px;
}
.main-menu ul.dp-menu li {
    position: relative;
    padding: 0 25px;
}
.main-menu ul.dp-menu li a {
    font-size: 16px;
    font-weight: 500;
    color: #999;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    text-transform: capitalize;
}
.main-menu li a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--primary);
    padding: 37px 15px;
    text-transform: uppercase;
}

.wc-btn-primary {
    padding: 21px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50px;
    text-transform: capitalize;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    gap: 30px;
    white-space: nowrap;
}

.btn-text-flip {
    perspective: 1000px;
}

.wc-btn-primary {
    padding: 18px 50px;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--theme);
    border-color: var(--theme);
    color: var(--white);
}
.header-area .wc-btn-primary {
    padding: 14px 25px;
    color: var(--white);
}
.btn-text-flip span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    transition: color .5s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}
.btn-text-flip span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}
.wc-btn-primary:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-text-flip:hover span {
    transform: rotateX(90deg) translateY(-12px);
    color: inherit;
}



/* Hero banner of homepage */
.body-wrapper {
    background-color: var(--white);
    overflow: hidden;
}

.hero-area {    
    overflow: hidden;
}

.hero-area-inner {
    position: relative;
    z-index: 1;
}
.hero-area-inner .shape-1 {
    position: absolute;
    inset-inline-end: calc(0% - 52px);
    top: 300px;
    z-index: -1;
    width: 704px;
}

.hero-area .section-content {
    display: grid;
    gap: 0px 90px;
    grid-template-columns: 305px 1fr auto;
}

.hero-area .content-first {
    padding-top: 100px;
    padding-bottom: 96px;
}

.hero-area .year-box {
    background-color: #ebf8f6;
    border-radius: 35px;
    padding: 30px 30px 40px;
    display: inline-block;
    position: relative;
}

.hero-area .year-box .meta {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font_dmsans);
    display: inline-block;
    padding: 9px 9px;
    border-radius: 10px;
    background-color: #d7efeb;
    color: var(--primary);
}
.hero-area .year-box .thumb {
    margin-top: 30px;
    text-align: center;
}

.hero-area .year-box .title {
    margin-top: 30px;
    font-size: 32px;
    line-height: 1;
    color: var(--primary);
}

.hero-area .year-box .btn-wrapper {
    position: absolute;
    inset-inline-end: 20px;
    top: 20px;
}

.wc-btn {
    display: inline-flex;
    transition: all .3s;
}
.wc-btn-icon i {
    transform: rotate(-45deg);
    transition: all .3s;
    font-size: 20px;
    color: var(--primary);
}

.hero-area .meta-info .text {
    margin-top: 26px;
    font-size: 20px;
    line-height: 1.37;
}

.hero-area .content-second {
    border-inline-start: 1px solid var(--border);
    padding-inline-start: 90px;
    padding-bottom: 100px;
    padding-top: 86px;
}
.hero-area .section-header {
    max-width: 742px;
}

.hero-area .section-header .section-title {
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
}
.hero-area .section-header .section-title .icon-first {
    margin-top: -25px;
}

.hero-area .section-header .btn-wrapper {
    margin-top: 41px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.btn-text-flip span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

.btn-text-flip span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    transition: color .5s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}
.hero-area .video-btn {
    gap: 20px;
}

.hero-area .scroll-down {
    margin-top: 60px;
}

.wc-btn-normal {
    display: inline-flex;
    position: relative;
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    gap: 5px;
}

.hero-area .scroll-icon {
    display: inline-block;
    padding: 29px 20px;
    border: 1px solid var(--border);
    border-radius: 25px;
}

.hero-area .content-third {
    align-self: center;
}
.hero-area .hero-social {
    writing-mode: vertical-lr;
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero-area .hero-social .title {
    position: relative;
    padding-inline-end: 80px;
    display: inline-block;
    font-size: 14px;
    color: var(--primary);
    text-transform: uppercase;
}

.hero-area .hero-social .title:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--border);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hero-area .hero-social .hero-social-links {
    display: flex;
    gap: 25px;
}

.hero-area .hero-social .hero-social-links a {
    color: var(--primary);
}

.section-title div > div {
    display: inline-block;
    transform: translateZ(0);
    color: #000;
}

.section-title > div, .section-title span > div {
    display: inline-flex;
    position: relative;
    font-family: "DM Sans", sans-serif;
}
.section-title div > div {
    display: inline-block;
    position: relative;
    visibility: inherit;
}
.shape-1 img {
    animation: float 4s ease-in-out infinite;
}
  
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(20px); }
}


/* featured section css here */

.features-area-inner {
    position: relative;
}

.features-area-inner .shape_1 {
    position: absolute;
    inset-inline-start: calc(100% - 225px);
    top: 50%;
    transform: translateY(-50%);
    width: 425px;
}

.features-area-inner .shape-2 {
    position: absolute;
    inset-inline-start: calc(100% - 195px);
    top: calc(100% - 65px);
    width: 200px;
}

img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

.features-area .section-content {
    display: flex;
    gap: 40px 71px;
    align-items: center;
    background-color: #f9fafd;
    border-radius: 30px;
    padding: 130px 115px 143px;
}

.overflow-hidden {
    overflow: hidden !important;
}

.section-subtitle.has-left-line {
    padding-inline-start: 60px;
}

.section-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme);
    font-family: var(--font_dmsans);
    position: relative;
}

.has-left-line {
    position: relative;
    padding-inline-start: 35px;
    display: inline-block;
}

.section-subtitle.has-left-line:before {
    width: 50px;
    height: 2px;
}

.has-left-line:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background-color: currentColor;
    inset-inline-start: 0;
    top: 50%;
    transform: translateY(-50%);
}

.features-area .section-content .title-wrapper {
    margin-top: 31px;
}

.features-area .section-title {
    font-size: 50px;
    max-width: 403px;
}

.font-heading-dmsans-medium h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    line-height: 1;
}

.features-area .text-wrapper.has-left-line {
    padding-inline-start: 265px;
}

.features-area .text-wrapper.has-left-line:before {
    width: 200px;
    height: 2px;
    background-color: #121212;
}

.features-area .text-wrapper .title {
    font-size: 250px;
    font-weight: 400;
    line-height: .74;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.features-area .text-wrapper .title span {
    font-size: 50px;
    line-height: .4;
}

.features-area .text-wrapper .text {
    font-size: 20px;
    line-height: 1.38;
    margin-top: 31px;
    max-width: 303px;
}

text-wrapper p {
    padding: 0;
    margin: 0;
    line-height: 1.41;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
}


@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}


@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media only screen and (max-width: 1919px) {
    .features-area-inner .shape_1 {
        inset-inline-start: calc(100% - 125px);
    }
    .features-area-inner .shape-2 {
        inset-inline-start: calc(100% - 145px);
    }
    .section-title {
        font-size: 65px;
    }
    .features-area .text-wrapper.has-left-line {
        padding-inline-start: 165px;
    }
    .features-area .text-wrapper .title {
        font-size: 150px;
    }
    .features-area .text-wrapper.has-left-line:before{
        width: 100px;
    }
}


.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: .2s;
    transform: translate(-50%, -50%);
}
  
/* Hover effect on interactive items */
.custom-cursor.cursor-hover {
    transform: translate(-50%, -50%) scale(1.8);
    background-color: rgba(0, 0, 0, 0.1);
}




/* work area section */
.works-area {
    padding-top: 145px;
}
.works-area-inner {
    position: relative;
    z-index: 1;
}
.section-spacing-bottom {
    padding-bottom: 150px;
}
.works-area-inner .shape-2 {
    position: absolute;
    bottom: 0;
    inset-inline-end: calc(100% - 77px);
    width: -moz-max-content;
    width: max-content;
    z-index: -1;
}
.works-area .section-header {
    text-align: center;
}
.overflow-hidden {
    overflow: hidden !important;
}
.has-left-line {
    position: relative;
    padding-inline-start: 35px;
    display: inline-block;
}
.section-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme);
    font-family: var(--font_dmsans);
    position: relative;
}
.section-subtitle.has-left-line {
    padding-inline-start: 60px;
}
.has-left-line:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background-color: currentColor;
    inset-inline-start: 0;
    top: 50%;
    transform: translateY(-50%);
}
.section-subtitle.has-left-line:before {
    width: 50px;
    height: 2px;
}
.works-area .section-header .title-wrapper {
    margin-top: 17px;
}
.works-area .section-title {
    max-width: 627px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font_dmsans);
    font-weight: 500;
    line-height: 1;
}

.works-area .works-wrapper {
    display: grid;
    gap: 63px 50px;
    grid-template-columns: repeat(3, 1fr);
}
.works-area .work-box {
    display: inline-block;
}
.works-area .work-box .thumb {
    border-radius: 30px;
    overflow: hidden;
}
.works-area .work-box .thumb img {
    width: 100%;
    transition: all .5s;
}
.works-area .work-box .content {
    margin-top: 30px;
}
.works-area .work-box .title {
    font-size: 30px;
    color: var(--primary);
}
.works-area .work-box .meta {
    margin-top: 8px;
}
.works-area .work-box .meta p {
    font-family: var(--font_kanit);
    color: var(--secondary);
    padding: 0;
    margin: 0;
    line-height: 1.41;
    font-weight: 400;
    font-size: 18px;
}
.works-area .work-box:hover .thumb img {
    transform: scale(1.1);
}
.works-area .btn-wrapper {
    margin-top: 63px;
    display: flex;
    justify-content: center;
}

.wc-btn-primary {
    padding: 30px 50px;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--theme);
    border-color: var(--theme);
    color: var(--white);
}
.wc-btn-primary {
    padding: 21px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 15px;
    text-transform: capitalize;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    gap: 30px;
    white-space: nowrap;
}
.btn-text-flip {
    perspective: 1000px;
}
.btn-text-flip span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}
.btn-text-flip span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    transition: color .5s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}
.wc-btn-primary.bordered {
    border-color: var(--primary);
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary);
}

/* service area */
.section-spacing {
    padding-top: 140px;
    padding-bottom: 140px;
}
.service-area .section-header .section-title-wrapper {
    position: relative;
}
.service-area .section-header .section-title-wrapper .shape-1 {
    position: absolute;
    width: 93px;
    top: -60px;
    inset-inline-start: 43%;
    z-index: 99;
}
.service-area .section-title {
    max-width: 740px;
    margin-inline: auto;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font_kanit);
}
.section-title span {
    color: var(--white-2);
}
.service-area .section-header .text-wrapper {
    margin-top: 22px;
}
.service-area .section-header .text {
    max-width: 300px;
    margin-inline-start: 580px;
}
.service-area .services-wrapper-box {
    margin-top: 73px;
}
.service-box {
    border-bottom: 1px solid #ececec;
    padding: 44px 0;
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 160px 1fr 100px;
}
.service-box:first-child {
    border-top: 1px solid #ececec;
}
.service-box .number {
    font-size: 30px;
    font-family: var(--font_dmsans);
    font-weight: 600;
    color: var(--primary);
    padding-inline-start: 10px;
}
.service-box .content {
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 360px 1fr;
}
.service-box .title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: .88;
    font-family: var(--font_dmsans);
    font-weight: 800;
    letter-spacing: 2px;
}
.service-box .text {
    max-width: 340px;
}
.service-box .feature-list {
    margin-top: 18px;
}
.service-box .feature-list li {
    font-size: 18px;
    line-height: 1.41;
    color: var(--primary);
}
.service-box .icon {
    width: 88px;
    height: 115px;
    border: 1px solid #ececec;
    border-radius: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.show-light {
    display: inline-block;
}
.service-area .service-area-inner {
    position: relative;
    z-index: 1;
}
.service-area .service-area-inner .shape__1 {
    position: absolute;
    top: 0;
    inset-inline-end: calc(100% - 77px);
    width: -moz-max-content;
    width: max-content;
    z-index: -1;
}
.service-area .service-area-inner .shape-2 {
    position: absolute;
    top: 0;
    inset-inline-end: calc(100% - 115px);
    transform: translateY(-50%);
}
.service-area .has_fade_anim a:hover {
    background-color: var(--black-2);
    display: block;
}
.service-area .has_fade_anim a:hover .service-box .number, 
.service-area .has_fade_anim a:hover .service-box .content .title,
.service-area .has_fade_anim a:hover .service-box .content .content-last .text,
.service-area .has_fade_anim a:hover .service-box .feature-list li{
    color: var(--white);
}



@media only screen and (max-width: 1919px) {
    .header-area .header-area__inner {
        height: 80px;
    }
    .hero-area-inner .shape-1 {
        width: 600px;
    }
    .hero-area .section-content {
        gap: 0px 60px;
        grid-template-columns: 255px 1fr auto;
    }
    .hero-area .year-box .title {
        font-size: 26px;
    }
    .hero-area .meta-info {
        margin-top: 65px;
    }
    .hero-area .meta-info .text {
        font-size: 18px;
    }
    .hero-area .section-header .section-title {
        font-size: 90px;
    }    
    .hero-area .section-header .section-title .icon-first {
        max-height: 70px;
    }

    .section-title {
        font-size: 65px;
    }
    .works-area .works-wrapper-box {
        margin-top: 46px;
    }
    .works-area .btn-wrapper {
        margin-top: 43px;
    }
    .wc-btn-primary {
        padding: 20px 30px;
    }
    .service-area .section-title {
        max-width: 630px;
    }
    .service-area .services-wrapper-box {
        margin-top: 53px;
    }
}