body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #121212;
    --secondary: #555555;
    --border: rgba(18, 18, 18, 0.08);    
    --black: #121212;
    --black-2: #555555;
    --white: #FFFFFF;
    --white-2: #999999;
    --action: #FFCD4D;
    --theme: #7963FF;
    --footer-border:rgba(18, 18, 18, 0.08);
    --pista:#ebf8f6;
}

:root {
    --font_dmsans: "DM Sans", sans-serif;
    --font_kanit: "Kanit", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif !important;
    font-size: 16px;
}

a {
    text-decoration: none !important;
    transition: all .3s;
    color: inherit !important;
}
p {
    padding: 0;
    margin: 0;
    line-height: 1.41;
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary);
}
ul {
    padding: 0 !important;
}
.header-area .header-area__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 100px;
    border-bottom: 1px solid var(--border);
}
img {
    max-width: 100%;
}
.show-light {
    display: inline-block;
}

.header-area .header-area__inner>*:nth-child(2) {
    margin-inline-end: auto;
    border-inline-start: 1px solid var(--border);
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline-start: 35px;
    margin-inline-start: 30px;
}

.main-menu>ul {
    display: flex;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .3s;
}

.main-menu li {
    position: relative;
}

.main-menu li a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--primary);
    padding: 37px 15px;
    text-transform: uppercase;
}

.main-menu ul.dp-menu {
    background-color: #232529;
    padding: 18px 0px;
    width: 240px;
    position: absolute;
    inset-inline-start: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: all .5s;
}

.main-menu ul.dp-menu.col-2 {
    -moz-column-count: 2;
    column-count: 2;
    width: 500px;
}
.main-menu ul.dp-menu li {
    position: relative;
    padding: 0 25px;
}
.main-menu ul.dp-menu li a {
    font-size: 16px;
    font-weight: 500;
    color: #999;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    text-transform: capitalize;
}
.main-menu li a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--primary);
    padding: 37px 15px;
    text-transform: uppercase;
}

.wc-btn-primary {
    padding: 21px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50px;
    text-transform: capitalize;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    gap: 30px;
    white-space: nowrap;
}

.btn-text-flip {
    perspective: 1000px;
}

.wc-btn-primary {
    padding: 18px 50px;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--theme);
    border-color: var(--theme);
    color: var(--white);
}
.header-area .wc-btn-primary {
    padding: 14px 25px;
    color: var(--white);
}
.btn-text-flip span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    transition: color .5s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}
.btn-text-flip span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}
.wc-btn-primary:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-text-flip:hover span {
    transform: rotateX(90deg) translateY(-12px);
    color: inherit;
}



/* Hero banner of homepage */
.body-wrapper {
    background-color: var(--white);
    overflow: hidden;
}

.hero-area {    
    overflow: hidden;
    background: url('./assets/img/banner_bg_section.jpg');
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.hero-area:before {
    background: #0006;
    content: "";
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.hero-area-inner {
    position: relative;
    z-index: 1;
}
.hero-area-inner .shape-1 {
    position: absolute;
    inset-inline-end: calc(0% - 52px);
    top: 300px;
    z-index: -1;
    width: 704px;
}

.hero-area .section-content {
    display: grid;
    gap: 0px 90px;
    grid-template-columns: 305px 1fr auto;
}

.hero-area .content-first {
    padding-top: 100px;
    padding-bottom: 96px;
}


.wc-btn {
    display: inline-flex;
    transition: all .3s;
}
.wc-btn-icon i {
    transform: rotate(-45deg);
    transition: all .3s;
    font-size: 20px;
    color: var(--primary);
}

.hero-area .meta-info .text {
    margin-top: 26px;
    font-size: 20px;
    line-height: 1.37;
}

.hero-area .content-second {
    padding-inline-start: 0;
    border-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.hero-area .section-header {
    max-width: 742px;
}
.section-header .description p {
    color: var(--white);
}
.hero-area .section-header .section-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}
.hero-area .section-header .section-title .icon-first {
    margin-top: -25px;
}

.hero-area .section-header .btn-wrapper {
    margin-top: 41px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.btn-text-flip span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

.btn-text-flip span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    transition: color .5s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}
.hero-area .video-btn {
    gap: 20px;
}

.hero-area .scroll-down {
    margin-top: 60px;
}

.wc-btn-normal {
    display: inline-flex;
    position: relative;
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    gap: 5px;
}

.hero-area .scroll-icon {
    display: inline-block;
    padding: 29px 20px;
    border: 1px solid var(--white);
    border-radius: 25px;
}
.scroll-icon img {
    filter: brightness(0) invert(1);
}
.hero-area .content-third {
    align-self: center;
}
.hero-area .hero-social {
    writing-mode: vertical-lr;
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero-area .hero-social .title {
    position: relative;
    padding-inline-end: 80px;
    display: inline-block;
    font-size: 14px;
    color: var(--white);
    text-transform: uppercase;
}

.hero-area .hero-social .title:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--white);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hero-area .hero-social .hero-social-links {
    display: flex;
    gap: 25px;
}

.hero-area .hero-social .hero-social-links a {
    color: var(--primary);
}


.crp-hero-funfact-bg {
    width: 340px;
    height: 100%;
    padding: 40px;
    background-repeat: no-repeat;
    background-image: url('./assets/img/funfact-bg-shape.png');
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
}
.crp-hero-funfact-line {
    position: absolute;
    top: 30%;
    left: 100%;
    height: 1px;
    width: 80px;
    display: inline-block;
    background-color: #ebf8f6;
}
.crp-hero-funfact-line::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-flex;
    transform: translate(70px, -10px);
    background-color: #ebf8f6;
}
.crp-hero-funfact-top-content {
    padding-right: 60px;
    margin-bottom: 45px;
}
.crp-hero-funfact-top-content h4 {
    font-weight: 600;
    font-size: 28px;
    color: var(--white);
    margin-bottom: 7px;
    font-family: var(--tp-ff-teko);
}
.crp-hero-funfact-top-content p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--white)
}
.crp-hero-funfact-wrap .crp-hero-funfact-item:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--white);
}
.crp-hero-funfact-item h4 {
    font-weight: 500;
    font-size: 70px;
    color: var(--white);
    margin-bottom: 8px;
    line-height: 0.7;
    font-family: var(--tp-ff-teko);
}
.crp-hero-funfact-more-details p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    letter-spacing: -0.01em;
    color: var(--white)
}



.section-title div > div {
    display: inline-block;
    transform: translateZ(0);
    color: #000;
}

.section-title > div, .section-title span > div {
    display: inline-flex;
    position: relative;
    font-family: "DM Sans", sans-serif;
}
.section-title div > div {
    display: inline-block;
    position: relative;
    visibility: inherit;
}
.shape-1 img {
    animation: float 4s ease-in-out infinite;
}
  
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(20px); }
}


/* about us section css here */
.whychoose-us {
    position: relative;
    padding: 40px 0px 40px 0;
}
.about-us-image-box {
    display: flex;
    align-items: center;
}
.about-us-image-title h2 {
    font-size: 112px;
    font-weight: 800;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--white) 0%, #1b1b1b 50%, var(--white) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    cursor: none;
    transition: all 0.3s ease-in-out;
}
.about-us-image-box:hover .about-us-image-title h2 {
    background-position: right center;
}
.about-us-image {
    position: relative;
}
.explore-more-circle {
    position: absolute;
    top: 0;
    right: 0;
}
.about-us-img {
    height: 100%;
}
.about-us-img figure {
    display: inline-block;
    mask-image: url('./assets/img/about-us-imaeg-mask.svg');
    background-image: url('./assets/img/about-us-imaeg-mask.svg');
    mask-size: cover;
    mask-position: center center;
    mask-repeat: no-repeat;
}
figure {
    margin: 0;
}
.about-us-img img {
    width: 100%;
    aspect-ratio: 1 / 1.215;
    object-fit: cover;
}
.image-anime:after {
    content: "";
    position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.explore-more-circle img {
    width: 100%;
    height: 100%;
    max-width: 136px;
    animation: exploremorerotate 25s infinite linear;
}
@keyframes exploremorerotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.about-us-content {
    margin-left: 20px;
}
.about-us-content .section-title h3 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-color);
    padding-left: 24px;
    margin-bottom: 20px;
}
.about-us-content .section-title h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2em;
    color: var(--primary-color);
    margin-bottom: 0;
    cursor: none;
}
.about-us-content .section-title p {
    margin-top: 20px;    
}
.about-us-body {
    margin-bottom: 40px;
}
.about-us-body ul {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}
.about-us-body ul li {
    position: relative;
    text-transform: capitalize;
    line-height: normal;    
    margin-bottom: 20px;
}
.about-us-body ul li img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.about-content-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.about-support-box {
    width: calc(60% - 15px);
}
.about-support-content {
    margin-bottom: 30px;
}
.about-support-content h3 {
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.about-support-content p {
    margin: 0;
}
.certified-software-item {
    position: relative;
    width: calc(40% - 15px);
    background: rgb(18, 18, 18, 0.10);
    background-position: top left;
    background-size: auto;
    border: 1px solid var(--divider-color);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 20px;
    padding: 22px;
    overflow: hidden;
    z-index: 1;
}
.certified-software-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(18, 18, 18, 0.10);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.certified-software-item .icon-box {
    margin-bottom: 30px;
}
.certified-software-content p {
    font-size: 18px;    
    text-transform: capitalize;
    margin: 0;
}
.certified-software-item .icon-box img {
    max-width: 40px;
}


img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

.overflow-hidden {
    overflow: hidden !important;
}

.section-subtitle.has-left-line {
    padding-inline-start: 60px;
}

.section-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme);
    font-family: var(--font_dmsans);
    position: relative;
}

.has-left-line {
    position: relative;
    padding-inline-start: 35px;
    display: inline-block;
}

.section-subtitle.has-left-line:before {
    width: 50px;
    height: 2px;
}

.has-left-line:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background-color: currentColor;
    inset-inline-start: 0;
    top: 50%;
    transform: translateY(-50%);
}


text-wrapper p {
    padding: 0;
    margin: 0;
    line-height: 1.41;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
}


@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}


@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media only screen and (max-width: 1919px) {
    
}


.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: .2s;
    transform: translate(-50%, -50%);
}
  
/* Hover effect on interactive items */
.custom-cursor.cursor-hover {
    transform: translate(-50%, -50%) scale(1.8);
    background-color: rgba(0, 0, 0, 0.1);
}




/* work area section */
.works-area {
    padding-top: 40px;
}
.works-area-inner {
    position: relative;
    z-index: 1;
}
.section-spacing-bottom {
    padding-bottom: 150px;
}
.works-area-inner .shape-2 {
    position: absolute;
    bottom: 0;
    inset-inline-end: calc(100% - 77px);
    width: -moz-max-content;
    width: max-content;
    z-index: -1;
}
.works-area .section-header {
    text-align: center;
    margin-bottom: 80px;
}
.overflow-hidden {
    overflow: hidden !important;
}
.has-left-line {
    position: relative;
    padding-inline-start: 35px;
    display: inline-block;
}
.section-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme);
    font-family: var(--font_dmsans);
    position: relative;
}
.section-subtitle.has-left-line {
    padding-inline-start: 60px;
}
.has-left-line:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background-color: currentColor;
    inset-inline-start: 0;
    top: 50%;
    transform: translateY(-50%);
}
.section-subtitle.has-left-line:before {
    width: 50px;
    height: 2px;
}
.works-area .section-header .title-wrapper {
    margin-top: 17px;
}
.works-area .section-title {
    max-width: 627px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font_dmsans);
    font-weight: 500;
    line-height: 1;
}



.case-studies-list .item {
    border-bottom: 1px solid #bababa;
    padding-bottom: 16px;
    margin-bottom: 45px;
}
.case-studies-list .item h3 {
    font-size: 32px;
    max-width: 403px;
    margin-bottom: 13px;
    font-family: var(--font_kanit);
}
.case-studies-list .item .date {
    color: #8a8c99;
    font-family: var(--font_dmsans);
    padding-right: 60px;
}
.case-studies-list .item .link-btn {
    top: 0;
    right: -9px;
    width: 50px;
    height: 50px;
    margin-top: 13px;
    position: absolute;
    background-color: var(--white);
}
.case-studies-list .item:hover .link-btn {
    background-color: var(--black);
}
.case-studies-list .item .link-btn img {
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}
.case-studies-list .item .link-btn img:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
.case-studies-list .item:hover .link-btn img {
    opacity: 0;
    visibility: hidden;
}
.case-studies-image .images.hovered2 .image:nth-child(1),
.case-studies-image .images.hovered3 .image:nth-child(1),
.case-studies-image .images.hovered4 .image:nth-child(1), 
.case-studies-image .images.hovered4 .image:nth-child(2), 
.case-studies-image .images.hovered4 .image:nth-child(3) {
    opacity: 0;
    visibility: hidden;
}
.case-studies-list .item:hover .link-btn img:nth-child(2) {
    opacity: 1;
    visibility: visible;
}

.case-studies-image .images .image {
    transition: .5s;
}
.case-studies-image .images .image p {
    font-size: 16px;
    line-height: 1.3;
}
.case-studies-image .images .image:nth-child(2),
.case-studies-image .images .image:nth-child(3),
.case-studies-image .images .image:nth-child(4) {
    inset: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.case-studies-image .images.hovered2 .image:nth-child(2),
.case-studies-image .images.hovered3 .image:nth-child(3),
.case-studies-image .images.hovered4 .image:nth-child(4) {
    opacity: 1;
    visibility: visible;
}


/* Services seciton css here */
.service-area {
    padding: 40px 0;
}
.service-area .section-title-wrapper .section-title {
    color: var(--black);
    text-transform: inherit;
    padding-bottom: 2rem;
}

.service-item {
    position: relative;
    height: calc(100% - 30px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
}
.service-item::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;    
    height: 100%;
    width: 100%;
    opacity: 40%;
    z-index: -1;
}
.service-item:hover {
    transform: translateY(-5px);
}
.service-image, .service-body {
    margin-bottom: 30px;
}
.service-image a, .service-image figure {
    border-radius: 20px;
    overflow: hidden;
}
.image-anime {
    position: relative;
    overflow: hidden;
}
figure {
    margin: 0;
    height: 100%;
}
.service-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 0.692;
    object-fit: cover;
    border-radius: 20px;    
}
.image-anime:hover:after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.image-anime:after {
    content: "";
    position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.service-title {
    margin-bottom: 20px;
}   
.service-title h3 {
    font-size: 22px;
    text-transform: capitalize;
}
.service-title h3 a {
    color: inherit;
}
.service-content-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.service-content-box .icon-box {
    position: relative;
    height: 80px;
    width: 80px;    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.service-content-box .icon-box::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(18, 18, 18, 0.10);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    z-index: 0;
}
.service-item:hover .service-content-box .icon-box::before {
    transform: scale(1);
}
.service-content-box .icon-box img {
    position: relative;
    max-width: 40px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.service-box-content {
    width: calc(100% - 100px);
}
.service-readmore-btn {
    margin-top: auto;
}
.service-box-content p {
    margin-bottom: 0;
    font-family: var(--font_kanit);
}
.service-readmore-btn .readmore-btn .fa-arrow-right-long{
    transform: rotate(-45deg);
}
.service-readmore-btn .readmore-btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color: var(--accent-color);
    padding-right: 30px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.service-readmore-btn .readmore-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    /* background-image: url(../images/arrow-accent.svg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.service-image:hover img {
    transform: scale(1.05);
}





.works-area .works-wrapper {
    
}
.works-area .work-box {
    display: inline-block;
}



.projects-circle-list {
    padding-top: 106px;
    padding-bottom: 35px;
}

.projects-circle-list .images {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.projects-circle-list .images .image {
    position: absolute;
}
.projects-circle-list .images .image:nth-child(1) {
    top: 40.5%;
    left: 7.7%;
}
.projects-circle-list .images .image:nth-child(2) {
    top: 0;
    left: 29.6%;
}
.projects-circle-list .images .image:nth-child(3) {
    top: 15.8%;
    right: 13%;
}
.projects-circle-list .images .image:nth-child(4) {
    right: 10%;
    bottom: 21%;
}
.projects-circle-list .images .image:nth-child(5) {
    bottom: -5%;
    left: 37.5%;
}
.projects-circle-list .images .image::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.3;
    position: absolute;
    visibility: visible;
    transition: .5s;
    background: var(--black);
}
.projects-circle-list .images .image:nth-child(1)::before {
    opacity: 0;
    visibility: hidden;
}
.projects-circle-list .images .image .text {
    display: none;
}
.projects-circle-list .images .image .text h3 {
    margin-bottom: 24px;
    font-size: 54px;
}
.projects-circle-list .images .image .text h3 a {
    color: var(--white);
}
.projects-circle-list .images .image .text p {
    color: #bababa;
}
.projects-circle-list .images .image .text .link-btn {
    margin-top: 38px;
    color: var(--white);
}

.projects-circle-list .contents .item h3 {
    margin-bottom: 24px;
    font-size: 54px;
}
.projects-circle-list .contents .item h3 a {
    color: var(--white);
}
.projects-circle-list .contents .item p {
    color: #bababa;
    font-family: var(--font_dmsans);
}
.projects-circle-list .contents .item .link-btn {
    margin-top: 38px;
    color: var(--white);
}
.projects-circle-list .contents .item .link-btn i {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    transition: .5s;
}
.projects-circle-list .images .image .text .link-btn i {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    transition: .5s;
}
.projects-circle-list .contents {
    left: 38%;
    top: 40.3%;
    width: 325.69px;
    position: absolute;
}
.projects-circle-list .contents .item {
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.projects-circle-list .contents .item:nth-child(1) {
    top: 0;
    left: 0;
    opacity: 1;
    position: relative;
    visibility: visible;
}
.projects-circle-list.hovered2 .contents .item:nth-child(2),
.projects-circle-list.hovered3 .contents .item:nth-child(3),
.projects-circle-list.hovered4 .contents .item:nth-child(4),
.projects-circle-list.hovered5 .contents .item:nth-child(5) {
    opacity: 1;
    visibility: visible;
}
.projects-circle-list.hovered2 .contents .item:nth-child(1),
.projects-circle-list.hovered3 .contents .item:nth-child(1),
.projects-circle-list.hovered4 .contents .item:nth-child(1),
.projects-circle-list.hovered5 .contents .item:nth-child(1) {
    opacity: 0;
    visibility: hidden;
}
 
.projects-circle-list.hovered2 .image:nth-child(2)::before,
.projects-circle-list.hovered3 .image:nth-child(3)::before,
.projects-circle-list.hovered4 .image:nth-child(4)::before,
.projects-circle-list.hovered5 .image:nth-child(5)::before {
    opacity: 0;
    visibility: hidden;
}
.projects-circle-list.hovered2 .image:nth-child(1)::before,
.projects-circle-list.hovered3 .image:nth-child(1)::before,
.projects-circle-list.hovered4 .image:nth-child(1)::before,
.projects-circle-list.hovered5 .image:nth-child(1)::before {
    opacity: 0.3;
    visibility: visible;
}
.projects-circle-list .images .image img {
    border-radius: 50%;
}


.cta-area-inner {
    position: relative;
    border-top: 1px solid var(--border);
    padding-top: 145px;
}
.cta-area .section-header {
    text-align: center;
}
.cta-area .section-header .title-wrapper {
    margin-top: 17px;
}
.cta-area .section-header .text-wrapper {
    margin-top: 26px;
}
.cta-area .section-header .text {
    max-width: 407px;
    margin: 0 auto;
}
.cta-area .section-header .btn-wrapper {
    margin-top: 43px;
}

/* contact us form */
.mb-30 {
    margin-bottom: 30px !important;
}
.cta-area-inner .controls label {
    font-size: 14px;
    margin-bottom: 5px;
}
.cta-area-inner .controls label star {
    color: red;
    padding-left: 5px;
}
.cta-area-inner .controls input, 
.cta-area-inner .controls textarea {
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 0 0 10px;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0, 50%);
    font-size: 18px;
}
.butn.butn-rounded {
    border-radius: 30px;
}
.icon.invert img {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.wc-btn:hover .icon.invert img {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.hero-area .video-btn br {
    display: block;
}



.footer-area {
    background-color: #f5f5f5;
    position: relative;
    border-top: 1px solid var(--footer-border);
}

/* Style the image container */
.footer_image_man {
    position: absolute;
    top: -142px;
    right: 100px;
    z-index: 2;
    max-width: 180px; /* Adjust size as needed */
}

/* Optional: smooth scaling for responsiveness */
.footer_image_man img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-area .footer-area-inner {
    display: grid;
    gap: 50px 60px;
    grid-template-columns: 275px 190px 190px 385px;
    justify-content: space-between;
    overflow: hidden;    
}

.footer-area .footer-area-inner.section-spacing-top {
    padding-top: 80px;
}

.footer-area .footer-area-inner>*:first-child {
    grid-row: span 2;
    position: relative;
}

.footer-area .footer-area-inner>* {
    min-width: 130px;
}

.footer-area .footer-logo img {
    max-height: 42px;
}

.footer-logo img {
    max-width: 100%;
}

.footer-logo img, .footer-logo svg {
    vertical-align: middle;
}

.footer-area .footer-area-inner>*:first-child:after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% + 400px);
    background-color: var(--footer-border);
    top: -200px;
    inset-inline-end: 0;
}

.footer-area .footer-area-inner>* {
    min-width: 130px;
}

.footer-area .footer-widget-wrapper .title {
    color: var(--black);
    font-size: 30px;
    line-height: .73;
}

.footer-area .footer-nav-list {
    margin-top: 27px;
}

ul, ol {
    padding: 0;
    margin: 0;
}
button.subscribe-btn {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.footer-area .footer-nav-list li {
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
}

.footer-area .newsletter-text {
    margin-top: 29px;
}

.footer-area .newsletter-text .text {
    color: var(--black);
}

.subscribe-form {
    margin-top: 38px;
}

.subscribe-form .input-field {
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 18px 25px;
    border: 1px solid #202020;
}
.subscribe-form .input-field input:focus-visible {
    outline: none;
}

.subscribe-form .input-field .icon {
    color: var(--white-2);
}

.fa-regular, .far {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
}

.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-regular, .far {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
}

.subscribe-form .input-field input {
    border: 0;
    background-color: transparent;
    color: var(--primary);
    width: 100%;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.subscribe-form .input-field .subscribe-btn img, .subscribe-form .input-field .subscribe-btn i {
    color: var(--theme);
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.fa-paper-plane:before {
    content: "\f1d8";
}

.footer-area .footer-nav-list li .location {
    margin-bottom: 22px;
    display: inline-block;
}

.text-underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer-area .social-links {
    display: flex;
    gap: 20px;
    margin-top: 36px;
}

.footer-area .social-links li {
    line-height: 1;
}

.footer-area .social-links li a {
    color: var(--black);
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}

.fa-facebook-f:before {
    content: "\f39e";
}

.copyright-area {
    border-top: 1px solid var(--footer-border);
}

.copyright-area-inner {
    padding: 32px 0;
    position: relative;
}

.copyright-area-inner .shape-1 {
    position: absolute;
    bottom: 0;
    inset-inline-end: calc(100% - 300px);
}

.copyright-area .copyright-text .text {
    text-align: center;
    font-weight: 500;
    color: var(--black);
}

.copyright-area .copyright-text .text a {
    color: var(--black);
}

.social-media__icon{
    width: 15px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.footer-area .rounded-circle.link-btn {
    z-index: 1;
    width: 150px;
    height: 150px;
    margin-left: 45px;
    position: absolute;
    border: 1px solid #e9ebf1;
    background-color: var(--white);
    left: 15%;
    transform: translate(25%, -25%);
    top: -10%;
}

.footer-area .rounded-circle.link-btn::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    margin: 30px;
    border-radius: 50%;
    position: absolute;
    background: yellow;
}
.footer-area .rounded-circle.link-btn img:nth-child(1) {
    left: 0;
    right: 0;
    top: 13px;
    position: absolute;
    animation: rotation 30s infinite linear;
    margin-left: auto;
    margin-right: auto;
}
.footer-area .rounded-circle.link-btn img:nth-child(2) {
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}


/* ticker section section css */
.scrolling-ticker {
    background-color: #f08f74;
    position: relative;
    z-index: 3;
    margin: 40px 0;
}
.ontop {
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.main-ticker {
    position: relative;
    padding: 0;
    color: var(--white);
}
.ticker-slider{
    display: flex;
    position: relative;
}
.box {
    position: relative;
    -webkit-animation: slide-har 80s linear infinite;
    animation: slide-har 80s linear infinite;
    display: flex;
}
.sub-bg {
    background-color: #1a1a1a;
    position: relative;
    z-index: 7;
} 
.main-ticker .box .item {
    padding: 0 30px;
}
.box .item h4 {
    white-space: nowrap;
    line-height: 1;
    margin: 0;
}
.non-strok .item h4 {
    color: #fff !important;
    -webkit-text-stroke: 0 !important;
    font-size: 28px;
    font-weight: 700;
}
.stroke {
    color: transparent;
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    margin-left: 50px !important;
}
.icon {
    margin-bottom: -15px;
}

@-webkit-keyframes slide-har {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  
  @keyframes slide-har {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }





@media only screen and (max-width: 1919px) {
    .header-area .header-area__inner {
        height: 80px;
    }
    .hero-area-inner .shape-1 {
        width: 600px;
    }
    .hero-area .section-content {
        gap: 0px 60px;
        grid-template-columns: 340px 1fr auto;
    }
    .hero-area .year-box .title {
        font-size: 26px;
    }
    .hero-area .meta-info {
        margin-top: 65px;
    }
    .hero-area .meta-info .text {
        font-size: 18px;
    }    
    .hero-area .section-header .section-title .icon-first {
        max-height: 70px;
    }

    .section-title {
        font-size: 65px;
    }
    .contact-form__title{
         font-size: 60px !important;
         line-height: 1;
    }
    .works-area .works-wrapper-box {
        margin-top: 46px;
    }
    .works-area .btn-wrapper {
        margin-top: 43px;
    }
    .wc-btn-primary {
        padding: 20px 30px;
    }
    .service-area .section-title {
        max-width: 630px;
    }    
}

@media only screen and (max-width: 1399px) {
    .hero-area .section-header .section-title .icon-second {
        max-height: 60px;
        margin-top: -15px;
    }
    .hero-area-inner .shape-1 {
        width: 404px;
    }
    .header-area .header-area__inner>*:nth-child(2) {
        border-inline-start: 0;
        padding-inline-start: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .hero-area .section-header .section-title {
        max-width: 470px;
    }
    .footer-area .footer-area-inner {
        padding-top: 60px;
        padding-bottom: 54px;
        gap: 50px 60px;
        grid-template-columns: auto auto auto;
    }
    .footer-area .footer-area-inner>*:first-child {
        grid-row: auto;
    }
    .footer-area .footer-area-inner>*.newsletter {
        grid-column: span 2;
    }
    .service-area .section-header .section-title-wrapper .shape-1 {
        display: none;
    }
    .service-area .section-header .text {
        margin-inline-start: 430px;
    }
    .service-area .section-header .text-wrapper {
        margin-top: 12px;
    }    
}

@media only screen and (max-width: 991px) {
    .cta-area-inner {
        padding-top: 80px;
    }
    .section-spacing-bottom {
        padding-bottom: 80px;
    }
    .hero-area .section-header .section-title {
        font-size: 60px;
    }
    .footer_image_man, .footer-area .link-btn {
        display: none !important;
    }
    .service-area .section-header .text {
        max-width: 460px;
        margin: 0;
    }
    .main-menu {
        display: none;
    }
    .hero-area .section-content {
        grid-template-columns: 235px 1fr;
    }
    .hero-area .content-second {
        padding-inline-start: 40px;
    }
    .hero-area .content-third {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        border-top: 1px solid var(--border);
        padding-bottom: 30px;
    }
    .hero-area .hero-social {
        writing-mode: initial;
    }
    .hero-area .hero-social .title:before {
        width: 60px;
        height: 1px;
        inset-inline-end: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}




@media only screen and (max-width: 767px) {
    .footer-area .footer-area-inner {
        grid-template-columns: auto auto;
    }
    .footer-area .footer-area-inner>*.newsletter {
        order: 1;
    }
    .section-spacing {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .projects-circle-list {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .projects-circle-list .images {
        position: relative;
    }
    .projects-circle-list .images .image {
        top: 0 !important;
        left: 0 !important;
        position: relative;
        right: 0 !important;
        margin-bottom: 35px;
        bottom: 0 !important;
    }
    .projects-circle-list .images .image .text {
        display: block;
        margin-top: 20px;
    }
    .projects-circle-list .images .image .text h3 {
        margin-bottom: 13px;
        font-size: 22px;
    }
    .projects-circle-list .images .image .text .link-btn {
        margin-top: 12px;
    }
    .projects-circle-list .contents {
        display: none;
    }
    .case-studies-list .item h3 {
        font-size: 24px;
        max-width: 100%;
        margin-bottom: 13px;
    }
    .case-studies-list .item .link-btn {
        right: 0;
        width: 50px;
        height: 50px;
        margin-top: 15px;
        position: relative;
        border: 1px solid #e9ebf1;
    }
    .case-studies-list .item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .case-studies-list .item .date {
        padding-right: 0;
    }
    .section-title {
        font-size: 35px;
    }
    .features-area .section-title {
        font-size: 34px;
    }
    .hero-area .content-third {
        grid-column: auto;
        border-top: 0;
        justify-content: flex-start;
        padding-top: 0;
    }
    .hero-area .section-content {
        grid-template-columns: 1fr;
    }
    .hero-area .content-first {
        padding-top: 0px;
        padding-bottom: 36px;
        order: 2;
    }
    .hero-area .content-second {
        padding-inline-start: 0;
        border-left: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hero-area .section-header .section-title .icon-first {
        display: none;
    }
    br {
        display: none;
    }
    .hero-area .scroll-down {
        display: none;
    }
}

@media (max-width: 575px) {
    .footer-area .footer-area-inner {
        grid-template-columns: auto;
    }
    .footer-area .footer-area-inner>*.newsletter {
        grid-column: auto;
    }
}




@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {    
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    .custom-cursor {
        display: none;
    }
    .hero-area .content-second {        
        border-inline-start: 1px solid var(--border);
        padding-inline-start: 90px;
        padding-bottom: 10px;
        padding-top: 80px;
    }
    .hero-area .section-header .section-title {
        font-size: 120px;        
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}


/* faq section css here */
.our-faqs-content {
  padding: 60px 0 80px 0;
  background: #fff;
}
.our-faqs-content .sec-title h2 {
  justify-content: center;
}
.faq-accordion .accordion-item {
  position: relative;
  background: var(--black);
  border: 1px solid #FFFFFF1A !important;
  border-radius: 12px !important;
  margin-bottom: 30px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.faq-accordion .accordion-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  height: 100%;
  width: 100%;
}
.accordion-header {
  margin-bottom: 0;
}
.faq-accordion .accordion-header .accordion-button {
  font-size: 20px;  
  font-family: var(--font_gt_t_bold);
  line-height: 1.2em;
  text-transform: uppercase;  
  background: transparent;
  color: var(--text-primary);
  padding: 17px 20px 17px 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.faq-accordion .accordion-item .accordion-body {
  position: relative;
  padding: 0 50px 17px 20px;
  z-index: 1;
}
.faq-accordion .accordion-item .accordion-body p {
  margin: 0;
  color: var(--secondary);
}
.accordion-button:focus {
  box-shadow: none;
}

.our-faqs-content .section-title.sec-title .sub-title::before {
  margin: 0 auto;
}

.faqs-image {
  position: relative;
}
.faqs-img figure {
  display: block;
  border-radius: 19px;
  overflow: hidden;
}
.faqs-img img {
  width: 100%;
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.4s ease-in-out;
}

.faqs-img figure::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.40) 42.01%, rgba(0, 0, 0, 0.20) 100%);
}
.faqs-image-content {
    position: absolute;
    right: 100px;
    top: 30px;
    left: 30px;
    z-index: 1;
}
.faqs-img-content-title {
  margin-bottom: 20px;
}

.faq-cta-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.faq-cta-box .icon-box {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 50%;
}

.faq-cta-box .icon-box img {
  filter: brightness(0) invert(1);
}
.faq-cta-content {
  width: calc(100% - 16px);
}
.faqs-img-content-title h3 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--white);
}
.faq-cta-content h3 {
  color: var(--accent-color);
  font-size: 22px;
  transition: 0.4s ease-in-out;
  margin: 0;
}
.faq-cta-content h3 a {
  color: var(--white);
}
.faqs-img figure {
  display: block;
  border-radius: 19px;
  overflow: hidden;
}

.sec-title {
  position: relative;
  margin-bottom: 50px;
}
.sec-title .sub-title {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: var(--theme);  
  text-transform: uppercase;
  margin-bottom: 4px;
  padding-top: 20px;
  background: linear-gradient(173deg, var(--text-secondary), var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--theme);
}

.sec-title .sub-title:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 43px;
  height: 5px;
  border-radius: 5px;
  background: var(--theme);
  content: "";
}
.sec-title h2 {
  position: relative;
  justify-content: flex-start;
  font-size: 48px;
  color: var(--text-primary);
  font-family: var(--font_druk_web);
  margin-bottom: 0;
  line-height: 1.2;
  z-index: 2;
}


@media(min-width: 992px){
    .faqs-image {
        position: relative;
        margin-right: 30px;
    }
    .faq-cta-content{
         width: calc(100% - 60px);
    }
}



/* get in touch form  */
.get_in_touch {
  background: #FAFAFA;
  padding: 60px 0;
}
.contact-us-form .form-label {
  color: var(--black);
  font-size: 16px;
  text-transform: capitalize;
}
.contact-us-form .form-control {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--black);
  background: transparent;
  border: 1px solid #0000001a;
  border-radius: 10px;
  padding: 17px 20px;
  box-shadow: none;
  outline: none;
}
.contact-info-box {
  position: relative;
  background: url(https://html.awaikenthemes.com/artistic/design-agency/images/contact-info-box-bg.svg) no-repeat;
  background-position: top left;
  background-size: auto;
  border: 1px solid var(--divider-color);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 30px;
  padding: 12px;  
  z-index: 1;
}
.contact-info-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;  
  height: 100%;
  width: 100%;
  z-index: -1;
  border: 1px solid #0000001a;
  border-radius: 12px;
}
.contact-info-title {
  margin-bottom: 40px;
}
.contact-info-title h3 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
}
.contact-info-list {
  margin-bottom: 20px;
}
.contact-info-item {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}
.contact-info-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f4f4;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.contact-info-item .icon-box {
  position: relative;
  width: 54px;
  height: 54px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.contact-info-item .icon-box img {
  position: relative;
  width: 100%;
  max-width: 24px;
  z-index: 1;
}
.contact-info-content {
  width: calc(100% - 70px);
}
.contact-info-content p {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: var(--text-primary);
  font-family: var(--font_druk_web);
  letter-spacing: 0.4px;
  font-size: 1.75rem;
}
.contact-info-content h3 {
  font-size: 16px;
}
.contact-info-content h3 a {
  color: inherit;
}
.get_in_touch_title {
  justify-content: flex-start;
}
